/* CSS declarations go here */

.text-white { color: #FFF; }
.text-black {color :#000000}
.text-acuere-grey {color: #8e9299;}

.bg-acuere-dark {background: #393C40}

.bg-acuere-grey {background: #F5F6F6}

.bg-acuere-light {background: #FFFFFF}

.bg-acuere-blue {
    background: #1F5F9C;
    color: #FFF;
}

.text-acuere-blue {color: #1F5F9C}

h4 {color: #1F5F9C}

.aaa-dev-tools {
    background: lightpink;
}
#darkHeader{
    height: 40px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
}

div.leftBorder{
    padding-left: 7px;
    border-left: 3px solid #1F5F9C;
    margin-left: 2px;
    background: #FFFFFF;
    margin-bottom: 10px;
}

#lightHeader{
    height:71px;
    margin-top: 40px;
}
.mainContentDiv{
    margin-left: 50px;
    padding-top: 5px;
    padding-left: 1px;
    min-height: 80vh;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.shrinkWrap{
    padding-left: 5px;
    padding-right: 5px;
}


.medListItem{
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
}
.medListItem:hover{
    background-color: cornsilk;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: cornsilk;
}

.table-xtra-condensed > thead > tr > th,
.table-xtra-condensed > tbody > tr > th,
.table-xtra-condensed > tfoot > tr > th,
.table-xtra-condensed > thead > tr > td,
.table-xtra-condensed > tbody > tr > td,
.table-xtra-condensed > tfoot > tr > td,
.table {
    padding: 0.5px;
    border-color: #FFFFFF;
    font-size: small;
}

.nav > li > a {
    padding: 1px 5px;
}

.table {
    margin-bottom: 5px;
}

.indicatorRow{
    width: 15px;
}
.problemRow{
    width: 120px;
}

p {
    padding-bottom: 2px;
    margin-bottom: 0px;
}

a {
    color: #393C40;
    text-decoration: none;
}

.cursor-default{
    cursor: default;
}

.hintText{
    text-decoration: underline;
}

#titleWrapper{
    padding-left: 55px;
    padding-top: 12px;
}

#toastIcon{
    margin-top: -10px;
}

#ToastTitle {
    font-size: 2em;
}

#ToastSubtitle{
    font-size: 1.2em;
    padding-left: 20px;
}

#sidebar {
    float:left;
    width:50px;
    height:100vh;
    position: fixed;
}
#content {
    margin: 0 0 0 0px;
}


#mainMenuWrapper{
    padding-top: 8px;
    padding-right: 10px;
}

blockquote, blockquote p {
    font-size: 14px;
}

@media print{
    a[href]:after {
        content: none;
    }
}